{{!-- here we will show all posts that user has created --}}
{{!-- we will loop through the blogposts & for any blogposts that have a user_id that matches current user(id), they will be rendered to the page --}}
{{!-- add to dashmain --}}
<main>
  {{#if blogposts.length}}
    {{#each blogposts as |blogpost|}}
    <div>
      <div class='heading smaller-heading'>
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  {{/if}}
  <div class="newBlogpostContainer" data-user='{{blogpost.user.id}}'>
    <a href="/new">
      <button class="postButtons">Create a New Blogpost</button>
    </a>
  </div>
</main>