<main>
    <div class="col-md-6">
        <h3>Create a New Post:</h3>

        <form class="form new-blogpost-form">
            <div class="form-group">
                <label for="blogpost-title">Post Title :</label>
                <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
            </div>
            <div class="form-group">
                <label for="project-desc">Content :</label>
                <textarea class="form-input" id="blogpost-content" name="blogpost-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary new-blogpost">Create</button>
            </div>
        </form>
    </div>
</main>

<script src="/js/new.js"></script>