<div>
  <h2>Signup</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="email-signup">Username</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password</label>
      <input class="form-input" type="password" id="password-signup" placeholder="Must be at least 8 characters" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Signup!</button>
    </div>
    <a href="/login">Login Instead</a>
  </form>
</div>